body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

form {
    background: #b3e5fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    color: #fff;
    background-color: #01579b;
    padding: 10px 20px; /* Menor padding para o fundo pequeno */
    border-radius: 25px;
    margin: 0;
    width: auto; /* Ajuste para o tamanho do fundo */
    border: 2px solid white; /* Borda branca */
    display: inline-block; /* Para que o fundo e borda fiquem pequenos */
    font-size: 24px;
    font-weight: normal;
}


h3 {
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    color: #fff;
    border: 1px solid #0e86e7;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #01579b;
    text-align: center;

}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #0277bd;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #81d4fa;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #e1f5fe;
    text-align: center;
}

button {
    width: 100%;
    background-color: #0288d1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

button:hover {
    background-color: #0277bd;
}