body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0F7FA;
    color: #01579B;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: #0288D1;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #B3E5FC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #0288D1;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0288D1;
    color: white;
}

td {
    background-color: #E1F5FE;
}

button {
    background-color: #0288D1;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #01579B;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #0288D1;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

a:hover {
    background-color: #01579B;
}
